*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left {
    background-image: url(./background.png);
    max-width: 50%;
    width: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: black;
    max-width: 50%;
    width: 50%;
    padding: 40px;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    
}

